In [4]:
from google.colab import files
files.upload()

Saving Practical - 1-Attachment-2---01-03-2021-08-22-28.csv to Practical - 1-Attachment-2---01-03-2021-08-22-28.csv

{'Practical - 1-Attachment-2---01-03-2021-08-22-28.csv': b'index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price\r\n0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495\r\n1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500\r\n2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500\r\n3,audi,sedan,99.8,176.6,ohc,four,102,24,13950\r\n4,audi,sedan,99.4,176.6,ohc,five,115,18,17450\r\n5,audi,sedan,99.8,177.3,ohc,five,110,19,15250\r\n6,audi,wagon,105.8,192.7,ohc,five,110,19,18920\r\n9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430\r\n10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925\r\n11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970\r\n13,bmw,sedan,103.5,189,ohc,six,182,16,30760\r\n14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315\r\n15,bmw,sedan,110,197,ohc,six,182,15,36880\r\n16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151\r\n17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295\r\n18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575\r\n19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377\r\n20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229\r\n27,honda,wagon,96.5,157.1,ohc,four,76,30,7295\r\n28,honda,sedan,96.5,175.4,ohc,four,101,24,12945\r\n29,honda,sedan,96.5,169.1,ohc,four,100,25,10345\r\n30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785\r\n31,isuzu,sedan,94.5,155.9,ohc,four,70,38,\r\n32,isuzu,sedan,94.5,155.9,ohc,four,70,38,\r\n33,jaguar,sedan,113,199.6,dohc,six,176,15,32250\r\n34,jaguar,sedan,113,199.6,dohc,six,176,15,35550\r\n35,jaguar,sedan,102,191.7,ohcv,twelve,262,13,36000\r\n36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195\r\n37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095\r\n38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795\r\n39,mazda,hatchback,95.3,169,rotor,two,101,17,11845\r\n43,mazda,sedan,104.9,175,ohc,four,72,31,18344\r\n44,mercedes-benz,sedan,110,190.9,ohc,five,123,22,25552\r\n45,mercedes-benz,wagon,110,190.9,ohc,five,123,22,28248\r\n46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960\r\n47,mercedes-benz,hardtop,112,199.2,ohcv,eight,184,14,45400\r\n49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389\r\n50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189\r\n51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989\r\n52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189\r\n53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099\r\n54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649\r\n55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849\r\n56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349\r\n57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499\r\n61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028\r\n62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028\r\n63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,\r\n66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348\r\n67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338\r\n68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488\r\n69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918\r\n70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898\r\n71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778\r\n79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750\r\n80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775\r\n81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975\r\n82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995\r\n86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995\r\n87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940\r\n88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415\r\n'}

In [5]:
import pandas as pd

1. From given data set print first and last five rows

In [6]:
df=pd.read_csv("Practical - 1-Attachment-2---01-03-2021-08-22-28.csv")
df

    index      company   body-style  ...  horsepower  average-mileage    price
0       0  alfa-romero  convertible  ...         111               21  13495.0
1       1  alfa-romero  convertible  ...         111               21  16500.0
2       2  alfa-romero    hatchback  ...         154               19  16500.0
3       3         audi        sedan  ...         102               24  13950.0
4       4         audi        sedan  ...         115               18  17450.0
..    ...          ...          ...  ...         ...              ...      ...
56     81   volkswagen        sedan  ...          85               27   7975.0
57     82   volkswagen        sedan  ...          52               37   7995.0
58     86   volkswagen        sedan  ...         100               26   9995.0
59     87        volvo        sedan  ...         114               23  12940.0
60     88        volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

2. Replace all column values which contain ‘?’ and n.a with NaN.

In [24]:
import numpy as np
df.replace('?', np.nan)

    index      company   body-style  ...  horsepower  average-mileage    price
0       0  alfa-romero  convertible  ...         111               21  13495.0
1       1  alfa-romero  convertible  ...         111               21  16500.0
2       2  alfa-romero    hatchback  ...         154               19  16500.0
3       3         audi        sedan  ...         102               24  13950.0
4       4         audi        sedan  ...         115               18  17450.0
..    ...          ...          ...  ...         ...              ...      ...
56     81   volkswagen        sedan  ...          85               27   7975.0
57     82   volkswagen        sedan  ...          52               37   7995.0
58     86   volkswagen        sedan  ...         100               26   9995.0
59     87        volvo        sedan  ...         114               23  12940.0
60     88        volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

3. Find the most expensive car company name.

In [7]:
car=df[df['price']==df.max()['price']]
car['company']

35    mercedes-benz
Name: company, dtype: object

4. Print All Audi Cars details.

In [8]:
df[df['company']=='audi']

   index company body-style  ...  horsepower  average-mileage    price
3      3    audi      sedan  ...         102               24  13950.0
4      4    audi      sedan  ...         115               18  17450.0
5      5    audi      sedan  ...         110               19  15250.0
6      6    audi      wagon  ...         110               19  18920.0

[4 rows x 10 columns]

5. Count total cars per company.

In [16]:
df.groupby('company')['company'].count()

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

6. Find each company’s Highest price car.

In [17]:
df.groupby('company')['price'].max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

7. Find the average mileage of each car making company.

In [27]:
df1 = df[['company', 'average-mileage']]
df1

        company  average-mileage
0   alfa-romero               21
1   alfa-romero               21
2   alfa-romero               19
3          audi               24
4          audi               18
..          ...              ...
56   volkswagen               27
57   volkswagen               37
58   volkswagen               26
59        volvo               23
60        volvo               23

[61 rows x 2 columns]

8. Sort all cars by Price column

In [29]:
df.sort_values('price')

    index        company body-style  ...  horsepower  average-mileage    price
13     16      chevrolet  hatchback  ...          48               47   5151.0
27     36          mazda  hatchback  ...          68               30   5195.0
48     66         toyota  hatchback  ...          62               35   5348.0
36     49     mitsubishi  hatchback  ...          68               37   5389.0
28     37          mazda  hatchback  ...          68               31   6095.0
..    ...            ...        ...  ...         ...              ...      ...
11     14            bmw      sedan  ...         182               16  41315.0
35     47  mercedes-benz    hardtop  ...         184               14  45400.0
22     31          isuzu      sedan  ...          70               38      NaN
23     32          isuzu      sedan  ...          70               38      NaN
47     63        porsche  hatchback  ...         288               17      NaN

[61 rows x 10 columns]

In [45]:
from google.colab import files
files.upload()

Saving second.csv to second.csv

{'second.csv': b'index,company,price,horsepower\r\n0,honda,23845,141\r\n1,audi,171995,182\r\n2,bmw,135925,80\r\n3,toyata,71400,160\r\n'}

9. Concatenate two data frames using the conditions

In [51]:
df2=pd.read_csv('second.csv')
df3=pd.concat([df,df2])
df3

    index      company   body-style  ...  horsepower  average-mileage     price
0       0  alfa-romero  convertible  ...         111             21.0   13495.0
1       1  alfa-romero  convertible  ...         111             21.0   16500.0
2       2  alfa-romero    hatchback  ...         154             19.0   16500.0
3       3         audi        sedan  ...         102             24.0   13950.0
4       4         audi        sedan  ...         115             18.0   17450.0
..    ...          ...          ...  ...         ...              ...       ...
60     88        volvo        wagon  ...         114             23.0   13415.0
0       0        honda          NaN  ...         141              NaN   23845.0
1       1         audi          NaN  ...         182              NaN  171995.0
2       2          bmw          NaN  ...          80              NaN  135925.0
3       3       toyata          NaN  ...         160              NaN   71400.0

[65 rows x 10 columns]

10. Merge two data frames using the following condition

In [46]:
df2=pd.read_csv('second.csv')
df2

   index company   price  horsepower
0      0   honda   23845         141
1      1    audi  171995         182
2      2     bmw  135925          80
3      3  toyata   71400         160

In [47]:
ans=pd.merge(df,df2,on='index')
ans

   index    company_x   body-style  ...  company_y  price_y horsepower_y
0      0  alfa-romero  convertible  ...      honda    23845          141
1      1  alfa-romero  convertible  ...       audi   171995          182
2      2  alfa-romero    hatchback  ...        bmw   135925           80
3      3         audi        sedan  ...     toyata    71400          160

[4 rows x 13 columns]